.content-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-input {
  display: flex;
  width: 40rem;
}

.text-input {
  text-align: center;
  margin-bottom: 1rem;
}

.button-filter {
  background-color: #008cba;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 13px;
  background: #ffffff;
  border-radius: 0px 4px 4px 0px;
  border-color: #896bec;
  border: 1px solid;
  color: white;
  min-width: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.input-field {
  width: 100%;
  background: #896bec;
  padding: 10px;
  outline: none;
  color: #fff;
  border: none !important;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
